// Imports
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200;300;400;500;600;700&family=Quicksand:wght@300;400;500;600;700&family=Tiro+Kannada:ital@0;1&display=swap');

// Tipografía
$principal: 'Oxanium', sans-serif;
$secundaria: 'Oswald', sans-serif;
$terciaria: 'Roboto Condensed', sans-serif;
$logo: 'Fredoka One', sans-serif;

// Colores

$bg-card: #0707072c;
$bg-menu: #71298d;
$bg-menu2: #853aa3;
$lt-menu: white;
$hv-color: #b6f86a;
$hv-color2: #89c04a;
$naranja: #ff8b1f;