<div class="error d-flex h-100 text-center ">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">


    <main class="px-3">
      <h1>Error 404</h1>
      <img src="./assets/img/error.png" alt="">
      <p class="lead">
        El sitio al que desea ingresar no existe o está temporalmente deshabiiltado..
      </p>

        <div href="#" class="btn btn-atras" (click)="volverAtras();">Atras</div>
        <div href="#" class="btn btn-inicio" routerLink="/">Inicio</div>
          </main>

  </div>
</div>
