<div class="container">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 pt-5 mt-5 border-top-footer">
      <div class="col mb-3 text-center">
        <div class="flex align-items-center mb-3 link-dark text-decoration-none">
            <img class="logo" src="./assets/img/logocat.png" alt="">
        </div>
        <p class="text-muted">SalaDeJuegos &copy; 2022</p>
      </div>
  
      <div class="col mb-3">
  
      </div>
  
      <div class="col mb-3">

      </div>
  
      <div class="col mb-3 text-center">
        <h5>Secciones</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><div class="nav-link p-0 text-muted">Inicio</div></li>
          <li class="nav-item mb-2"><div class="nav-link p-0 text-muted">Quien Soy</div></li>
        </ul>
      </div>
  
      <div class="col mb-3 text-center">
        <h5>Juegos</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><div class="nav-link p-0 text-muted">Piedra, papel o tijera</div></li>
          <li class="nav-item mb-2"><div class="nav-link p-0 text-muted">TaTeTi</div></li>
          <li class="nav-item mb-2"><div class="nav-link p-0 text-muted">Adivina el número</div></li>
          <li class="nav-item mb-2"><div class="nav-link p-0 text-muted">Trivia</div></li>
          <li class="nav-item mb-2"><div class="nav-link p-0 text-muted">Sudoku</div></li>
        </ul>
      </div>
    </footer>
  </div>