<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg> -->
        <img class="bd-placeholder-img" src="./assets/img/juegos/bannersudoku.webp" alt="">

        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Sudoku</h1>
            <p>El sudoku es uno de los juegos de puzle más populares de todos los tiempos. El objetivo del sudoku es rellenar una cuadrícula de 9 x 9 con números, de forma que cada fila, columna y sección de 3 x 3 contenga cada uno de los dígitos entre 1 y 9.</p>
            <p><a class="btn btn-lg btn-warning" href="#">Pruebalo</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="bd-placeholder-img" src="./assets/img/juegos/pptbanner.jpg" alt="">


        <div class="container">
          <div class="carousel-caption">
            <h1>Piedra, papel o tijera</h1>
            <p>Juega al clásico juego de piedra, papel o tijera contra la IA y véncela. Tus registros quedarán guardados para superarte día a día.</p>
            <p><a class="btn btn-lg btn-warning" routerLink="/juegos/piedrapapeltijera">Juega ya</a></p>
          </div>
        </div>
      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
