<div class="container">
    <div class="wrapper">
      <div class="title"><span>Ingreso</span></div>
      <form [formGroup]="forma" (ngSubmit)="ingresar()">

        <div class="form">
          <div class="row">
            <i><span class="material-icons">email</span></i>
            <input type="email" placeholder="Correo electrónico" id="email" formControlName="email" [(ngModel)]="usuario.mail">
          </div>
          <div class="row">
            <i><span class="material-icons">key</span></i>
            <input type="password" placeholder="Contraseña" formControlName="contraseña" [(ngModel)]="usuario.contrasena">
          </div>
          <div class="pass text-center"><span class="link-div " style="color:black">{{error}}</span></div>
          <div class="pass"><span class="link-div" routerLink="/recupera">¿Olvidaste tu contraseña?</span></div>
          <div class="row button">
            <div class="row mt-4">
              <button class="btn btn-reg" type="submit" [disabled]="forma.invalid">Ingresar</button>
            </div>
          </div>
          <div class="row button-google mt-4">
            <input type="submit" value="Accede con Google" (click)="ingresarConGoogle()">
          </div>
          <p>{{error}}</p>
            <small class="invalid"
              *ngIf="forma.controls['email'].errors?.['required'] && forma.controls['email'].touched">

              El email es requerido
              <br>
            </small>
            <small class="invalid"
              *ngIf="forma.controls['contraseña'].errors?.['required'] && forma.controls['contraseña'].touched">
              Coloca una contraseña
              <br>
            </small>
          <div class="signup-link">¿Nuevo usuario? <span class="link-div" routerLink="/registro">Registrate ahora</span>
          </div>
        </div>
        <div class="text-center py-2">
        </div>
      </form>
      <button class="btn btn-reg mx-auto px-4" (click)="rellenaDatos()" [disabled]="disable!=1">Test</button>
  </div>
