<div class="container ">
    <div class="wrapper">
      <div class="title"><span>Registro</span></div>
      <div class="form">
        <!-- <div class="row">
            <i><span class="material-icons">person</span></i>
          <input type="text" placeholder="Nombre completo" required>
        </div> -->
        <div class="row">
            <i><span class="material-icons">email</span></i>
          <input type="email" placeholder="Correo electrónico" [(ngModel)]="usuario.mail" required>
        </div>
        <div class="row">
            <i><span class="material-icons">key</span></i>
          <input type="password" placeholder="Contraseña" [(ngModel)]="usuario.contrasena" required>
        </div>
        <div class="row">
            <i><span class="material-icons">key</span></i>
          <input type="password" placeholder="Repita contraseña" [(ngModel)]="passwordRepeat" required>
        </div>
        <p class="text-center">{{error}}</p>
        <div class="row button mt-4">
          <input type="submit" value="Registrate" (click)="registro()">
        </div>
        <div class="signup-link">¿Ya tienes usuario? <span class="link-div" routerLink="/login">Ingresa ahora</span>
      </div>
    </div>
  </div>
