<nav class="navbar navbar-expand-lg navbar-dark bg-menu" aria-label="Offcanvas navbar large">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="./assets/img/logocat.png" alt="">SalaDeJuegos</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-white bg-menu"  tabindex="-1" id="offcanvasNavbar2" aria-labelledby="offcanvasNavbar2Label">
        <div class="offcanvas-header">
            <a class="navbar-brand" href="#"><img src="./assets/img/logocat.png" alt=""  >SalaDeJuegos</a>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav  flex-grow-1 pe-3">
            <li class="nav-item">
              <div class="nav-link" aria-current="page" routerLink="/inicio" routerLinkActive="active"  >Inicio</div>
            </li>
            <li class="nav-item" *ngIf="userLogged|async as user">
              <div routerLinkActive="active" class="nav-link" id="menuresponsive" role="button" data-bs-toggle="dropdown" aria-expanded="false" routerLink="/juegos">
                Juegos
              </div>

            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/quien-soy" routerLinkActive="active">Quien Soy</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/paquetes" routerLinkActive="active" *ngIf="userLogged|async as user">Suscripción</a>
            </li>
            <a class="nav-link" routerLink="/lista-usuarios" routerLinkActive="active">Lista Usuarios</a>
          </ul>
          <div class="d-flex mt-3 mt-lg-0" *ngIf="!(userLogged|async)">
            <button class="btn btn-login" routerLink="/login">Ingresa</button>
            <button class="btn btn-register" routerLink="/registro">Registrate</button>
          </div>
          <div class="d-flex mt-3 mt-lg-0" *ngIf="userLogged|async as user">
            <div class="user-logged" routerLink="perfil">{{user.email}}
              <!-- <i class="fa fa-angle-down mx-2"></i> -->
            </div>
            <button class="btn btn-logout mx-3" (click)="desloguea()">Desloguear</button>
          </div>
        </div>
      </div>
    </div>
  </nav>
