<div class="container juego-flex">
    <div class="juego-item" [routerLink]="['/juegos/tateti']">
        <div class="juego-img"><img src="./assets/img/juegos/ttt.jpg" alt="" (click)="cambiaJuego('ahorcado')"></div>
        <div class="juego-nombre">TaTeTi</div>
    </div>
    <!-- <div class="juego-item"  routerLink="adivina">
        <div class="juego-img"><img src="./assets/img/juegos/gtn.jpg" alt=""></div>
        <div class="juego-nombre">Adivina el número</div>
    </div> -->
    <div class="juego-item"  [routerLink]="['/juegos/ppt']">
        <div class="juego-img"><img src="./assets/img/juegos/ppt.jpg" alt="" (click)="cambiaJuego('ahorcado')"></div>
        <div class="juego-nombre">Piedra Papel o Tijera</div>
    </div>
    <div class="juego-item"  [routerLink]="['/juegos/trivia']">
        <div class="juego-img"><img src="./assets/img/juegos/trivia.jpg" alt="" (click)="cambiaJuego('ahorcado')"></div>
        <div class="juego-nombre">Trivia</div>
    </div>
    <div class="juego-item" [routerLink]="['/juegos/ahorcado']">
        <div class="juego-img"><img src="./assets/img/juegos/ahorcado.jpg" alt="" (click)="cambiaJuego('ahorcado')"></div>
        <div class="juego-nombre">Ahorcado</div>
    </div>
</div>
